<html>
  <head>
    <title>Acme Users</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <h1>Acme Users Filter</h1>
      <form method='POST' action='/regenerate'>
      <button class='btn btn-danger' href='/regenerate'>Regenerate Users</button>
      </form>
      <div class='row'>
        <div class='col-sm-8'>
            {% include "_filter.html" %}

          <table class='table'>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Location</th>
  </thead>
  <tbody>
    
  </tbody>
</table>

        </div>
        <div class='col-sm-4'>
          <h2>Instructions</h2>
<pre>
  name repo acme-users-filter
  db/
    _conn.js - 2 lines
    User.js - ~35 lines
      -- use class methods to keep routes small
    index.js ~55 lines
      sync
      seed
      models: { User }
  server.js ~20 lines

  routes.js ~25 lines
    GET /
    GET /users/filter/:letter
    POST /regenerate

  views/index.html
    _users.html ~20 lines
    _filter.html ~20 lines
</pre>

        </div>
      </div>
    </div>
  </body>
</html>