<html>
  <head>
    <title>Acme Users</title>
    <link href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet'/>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
    <style>
      body{
        font-family: 'Lora', serif;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <h1>Acme Users Filter</h1>
      <form method='POST' action='/regenerate'>
      <button class='btn btn-danger' href='/regenerate'>Regenerate Users</button>
      </form>
      <div class='row'>
        <div class='col-sm-12'>
            {% include "_filter.html" %}   
            {% include "_users.html" %}
        </div>
      </div>
    </div>
  </body>
</html>